@import "tailwindcss";

@theme {
  --color-primary: #1e3a8a;
  --color-brand-blue: #1e40af;
  --color-accent-blue: #eff6ff;
  --color-background-light: #ffffff;
  --color-neutral-soft: #f9fafb;

  --font-sans: "Inter", "sans-serif";
  --font-serif: "Playfair Display", "serif";

  --radius-none: 0;
  --radius-sm: 0.125rem;
  --radius: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-full: 9999px;
}

@layer base {
  body {
    @apply bg-background-light text-slate-800 antialiased;
  }

  h1,
  h2,
  h3 {
    @apply font-serif;
  }

  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
  }
}